---
import experiences from "../collections/experiences.json";
import learn from "../collections/learn.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Whoami"/>

      <br>
      <p class="mt-6 mb-12 text-base leading-7 text-gray-600 dark:text-neutral-400">
        Hola, soy <strong>Pablo Gracia (aka g0dd4d)</strong>, apasionado de la ciberinteligencia y el hacking ético.<br /><br />
        Desde pequeño, impulsado por la curiosidad y el aprendizaje junto a mi abuelo (trabajador de IBM), descubrí el mundo de la tecnología. Ese primer contacto evolucionó hasta una especialización en ciberseguridad ofensiva y análisis de amenazas.<br /><br />
        Actualmente, enfoco mi carrera en entender, anticipar y actuar frente a las amenazas digitales, combinando técnicas de hacking ético y estrategias de ciberinteligencia. Este espacio nace como una forma de compartir artículos, experiencias y conocimientos a lo largo de mi camino profesional.
      </p>

      <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">
        <i class="fi fi-rr-briefcase"></i> Experiencia
      </h2>
      
        <p class="text-base leading-7 text-gray-600 dark:text-neutral-400 mb-6">
          He trabajado en proyectos de transformación digital, vigilancia de ciberamenazas y seguridad estratégica en los ámbitos público y privado, tanto a nivel nacional como internacional. Mi perfil combina habilidades técnicas con visión estratégica, especialmente en el análisis de amenazas, la gestión de incidentes y la inteligencia aplicada a la ciberseguridad.
        </p>
    
        <div class="px-5 py-10">
          {
            experiences.map((experience) => {
              return (
                <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    logo={experience.logo}
                  />
                </div>
              )
            })
          }
        </div>


        <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">
          <i class="fi fi-rr-award"></i> Reconocimientos importantes
        </h2>

        <p class="text-base leading-7 text-gray-600 dark:text-neutral-400 mb-2">
          <strong>Diploma Honorífico de la Secretaría de Estado de Digitalización e Inteligencia Artificial de España</strong>
        </p>
        <p class="text-sm leading-6 text-gray-500 dark:text-neutral-500 mb-12">
          Por la contribución a la transformación digital de España durante los años 2020-2023 y la implicación en el equipo de la primera Secretaría de Estado de Digitalización e Inteligencia Artificial del Gobierno de España.
        </p>

        <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">
          <i class="fi fi-rr-graduation-cap"></i> Formación
        </h2>
        

            <ul class="py-2 space-y-[3px] text-base list-disc list-inside text-neutral-500 dark:text-neutral-400">
  
            <li> <strong> Cibervigilancia</strong>, CCN-CERT (Centro Criptológico Nacional), CNI - Centro Nacional de Inteligencia</li> 
            <li> <strong> Cybersecurity Awareness Professional Certification - CAPC</strong>, CertiProf, (ID:3babdO6f) </li> 
            <li> <strong> eLearnSecurity Junior Penetration Tester (eJPT)</strong>, eLearnSecurity (ID: 4630522) </li>
            <li> <strong> Cyber Security Foundation Professional Certificate - CSFPC</strong>, CertiProf, (ID:61943310) </li>
            <li> <strong> Master en Dirección en ciberseguridad, Hacking ético y Ciberseguridad Ofensiva</strong>, EIP International Business School.</li>
            <li> <strong> Técnico Superior en Administración de Sistemas operativos en Red</strong></li>
            <li> <strong> Técnico en Sistemas Microinformáticos y Redes</strong></li>
  
            </ul>
          
      

            <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">
              <i class="fi fi-rr-newspaper"></i> Apariciones en medios y ponencias
            </h2>

          <ul class="py-2 space-y-[6px] text-base list-disc list-inside text-neutral-500 dark:text-neutral-400">
            <li>Artículo sobre ciberseguridad empresarial para el Colegio de Graduados Sociales de Sevilla.</li>
            <li>Entrevista sobre la situación de la ciberseguridad empresarial en España para <em>El País</em>.</li>
            <li>Entrevista sobre ciberseguridad empresarial española para <em>Cadena SER</em>.</li>
            <li>Entrevista sobre LLMs generativos: Inteligencia Artificial y ChatGPT para <em>TV La8 León</em>.</li>
            <li>Entrevista sobre ciberseguridad industrial para <em>Industrytalks</em>.</li>
            <li>Entrevista sobre ciberataques a entidades españolas en <em>20minutos</em>.</li>
            <li>Entrevista sobre antivirus y firewalls en <em>autónomosyemprendedor.es</em>.</li>
            <li>Ponencia sobre vectores de ataque a las organizaciones en el Foro MESIAS (Universidad Politécnica de Madrid).</li>
            <li>Ponencia sobre ciberseguridad en empresas para el Colegio de Administradores de Fincas de Madrid.</li>
            <li>Ponencia sobre ciberseguridad en empresas para el Foro NASEC (Navarra).</li>
            <li>Ponencia sobre ciberseguridad en empresas para ASICA – Asociación de Ingenieros Consultores de Andalucía.</li>
            <li>Aparición en <em>Navarracapital</em>.</li>
            <li>Aparición en <em>Noticias de Navarra</em>.</li>
            <li>Aparición en <em>Atana</em>.</li>
          </ul>


          <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">
            <i class="fi fi-rr-ticket"></i> Asistencias
          </h2>

          <ul class="py-2 space-y-[6px] text-base list-disc list-inside text-neutral-500 dark:text-neutral-400">
            <li>ENISE018 – Encuentro Internacional de Seguridad de la Información (León, España).</li>
            <li>Cyberwall 2024 (Salamanca, España).</li> 
            <li>Black Hat Europe 2023 (Londres, Reino Unido).</li> 
            <li>RootedCON 2023 (Madrid, España).</li> 
            <li>ENISE017 – Encuentro Internacional de Seguridad de la Información (León, España).</li>
            <li>ENISE016 – Encuentro Internacional de Seguridad de la Información (León, España).</li>
            <li>ENISE015 – Encuentro Internacional de Seguridad de la Información (León, España).</li>
            <li>ENISE013 – Encuentro Internacional de Seguridad de la Información (León, España).</li>
            <li>ENISE011 – Encuentro Internacional de Seguridad de la Información (León, España).</li>
          </ul>

          <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">
            <i class="fi fi-rr-file-text"></i> Artículos propios
          </h2>

          <ul class="py-2 space-y-[6px] text-base list-disc list-inside text-neutral-500 dark:text-neutral-400">
            <li>Historia real: SIM swapping, de estar sin cobertura a estar sin dinero en el banco (INCIBE).</li>
            <li>Cuando revisas la seguridad de tu empresa, ¿te fijas en las vulnerabilidades? (INCIBE).</li>
            <li>Top 10 vulnerabilidades web de 2021 (INCIBE).</li>
            <li>Historias reales: un deepfake de mi jefe circulando por la Red (INCIBE).</li>
            <li>¿Qué hacer a la hora de contratar un empleado? Mira el caso de éxito de esta farmacia (INCIBE).</li>
            <li>¿Llevas la oficina a cuestas? Aplica seguridad también en movilidad (INCIBE).</li>
          </ul>

  </section>
</Layout>